{% extends "base.html.twig" %}
{% block body %}
    <html>
    <head>

    </head>
    <body>
    <h1>
        Rechercher Voyage
    </h1>
    <form method="get">
        pays:
        <input type="text" name="destinationvoyage">
        <input type="submit" value="Rechercher">
    </form>
    </body>
    </html>
{% endblock %}


